alias refresh='lxpanelctl restart && openbox --restart'
alias ll='ls -l'
alias la='ls -A'
alias objdump='objdump -M intel'
alias android='/opt/android-studio/bin/studio.sh'
alias xclip="xclip -selection clipboard"
alias checksec='pwn checksec'
alias docker='sudo docker'
alias k='kubectl'
alias kn='kubectl config set-context --current --namespace '
alias kdbg='kubectl run --image busybox --attach debugger -it --rm'

#################
# Docker

alias dockershell="docker run --rm -i -t --entrypoint=/bin/bash"
alias dockershellsh="docker run --rm -i -t --entrypoint=/bin/sh"

function dockershellhere() {
    dirname=${PWD##*/}
    docker run --rm -it --entrypoint=/bin/bash -v `pwd`:/${dirname} -w /${dirname} "$@"
}

function dockershellshhere() {
    dirname=${PWD##*/}
    docker run --rm -it --entrypoint=/bin/sh -v `pwd`:/${dirname} -w /${dirname} "$@"
}
